<main role="main">
  <% info = live_flash(@flash, :info) %>

  <%= if info do %>
    <p class="alert alert-info" role="alert" phx-click="lv:clear-flash" phx-value-key="info">
      <%= info %>
    </p>
  <% end %>

  <%= error = live_flash(@flash, :error) %>

  <% if error do %>
    <p class="alert alert-danger" role="alert" phx-click="lv:clear-flash" phx-value-key="error">
      <%= error %>
    </p>
  <% end%>

  <%= @inner_content %>
</main>
