<div class="circle-tip"></div>
<p>
  <strong>Owner and lead developer at Caravana</strong><br>
  <i>March 2012 - Present</i>
</p>
<p>
  Caravana.dev is my software shop <i class="fa-solid fa-store"></i>. I started as a freelancer and create a network of long-term clients. I work side by side with them to bring ideas <i class="fa-regular fa-lightbulb"></i> to life. Mostly B2B Software that helps improving their internal processes.
</p>
