<div class="circle-tip"></div>
<p>
  <strong>Senior Developer at Crosshero</strong><br>
  <i>August 2017 - Present</i>
</p>
<p>
  Full-stack developer. I have the responsibility to add new features to our system, maintain and improve the overall software's correct functioning.
  It started with adding a feature as a freelance and convert as a long-term part-time job.
</p>


