
<%= render "sidebar/_header.html" %>
<%= render "sidebar/_soft_skills.html" %>
<%= render "sidebar/_hard_skills_language.html" %>
<%= render "sidebar/_hard_skills_dbs.html" %>
<%= render "sidebar/_hard_skills_dev_ops.html" %>



