<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Joe Esteves</title>
</head>
    <link
      phx-track-static
      rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/css/profile.css") %>"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
  <link rel="icon" href="<%= Routes.static_path(@conn, "/images/favicon.ico") %>" />
  <body>
    <%= render "_header.html", conn: @conn %>
    <div class="body d-flex">
      <div class="d-flex flex-column w-25 bg-secondary">
        left-a
      </div>
      <div class="d-flex flex-column w-75 ps-5">
        <%= render "_profile.html" %>
        <%= render "_education.html" %>
      </div>
    </div>
  </body>
</html>
