<section>
  <div class="sidebar__header">HardSkills DevOps</div>
  <span><i class="fa-brands fa-linux"></i>  Linux SysAdmin</span>
  <span><i class="fa-brands fa-git"></i>  Git & GitHub <i class="fa-brands fa-github"></i></span>
  <span><i class="fa-brands fa-docker"></i>  Docker</span>
  <span><i class="fa-solid fa-crosshairs"></i>  Kubernetes</span>
  <span><i class="fa-solid fa-terminal"></i>  Bash & Vim Scripting</span>
  <span><i class="fa-solid fa-heart"></i>  Open Source Contributor</span>
</section>
