@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './fontawesome.scss';

$color: black;

body {
  a {
    color: $color;
    text-decoration: none;
  }
  font-family: 'Roboto Mono', monospace;
  color: $color;

  .header {
    margin-top: 1.5em;

    img {
      height: 100px;
      border-radius: 30px;
    }
  }
  .header_title {
    font-size: 2.5em;
    text-transform: uppercase;
  }

  .sidebar {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        display: inline-block;
        width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
      }
    }
  }

  section {
    position: relative;
    .section__header {
      font-size: 1.5em;
      font-variant: small-caps;
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .section__body {
      .circle-tip {
        margin-bottom: -56px;

        &::before {
          content: '•';
          font-size: 2em;
          font-weight: bold;
          position: relative;
          left: -36px;
          top: -24px;
          height: 0px;
        }
      }

      border-left: solid $color 3px;
      padding-left: 1.5em;
    }

    .sidebar__header {
      margin-top: 1em;
      font-size: 1.5em;
      font-variant: small-caps;
      font-weight: bold;
      margin-bottom: 0.6em;

      &::before,
      &::after {
        margin-left: 5px;
        margin-right: 5px;
        content: '-';
        font-size: 0.4em;
        font-weight: bold;
        position: relative;
        top: -4px;
      }
    }
  }
}

@media print {
  body {
    width: 210mm;
    margin-right: 20mm;
    font-size: 0.7em;

    .header {
      margin-top: 0.5em;
    }

    .header_title {
      font-size: 2em;
    }

    section {
      .section__body {
        .circle-tip {
          margin-bottom: -49px;

          &::before {
            font-size: 2.5em;
            left: -26px;
            top: -18px;
          }
        }

        border-left: solid $color 1px;
        padding-left: 1.5em;
      }
    }
  }
}
