<div class="bg-gray-50">
  <div class="relative overflow-hidden">
    <%# <%= render CeiboLandWeb.SharedView, "header.html", [] %1> %>
    <%= render CeiboLandWeb.SharedView, "main.html", [] %>
    <%= render CeiboLandWeb.SharedView, "footer.html", [] %>
  </div>
</div>
