<main>
  <%= render_section("welcome.html") %>
  <%= render_section("portfolio.html") %>
  <%= render_section("features.html", animate: @animate) %>
  <%= render_section("stack.html", animate: @animate) %>
  <%= render_section("benchmark.html", animate: @animate) %>
  <%= render_section("testimonials.html", animate: @animate) %>
  <%= render_section("blog.html", animate: @animate) %>
  <%= render_section("end.html") %>
</main>
